/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Layer3 {
            bindings = <&tog 3>;
            key-positions = <37 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q                  &kp RIGHT_BRACKET  &kp E               &kp R             &kp N              &kp Y               &kp U              &kp I            &kp O                &kp P           &none
&none  &kp A                  &kp S              &kp D               &kp F             &kp G              &kp H               &kp J              &kp K            &kp L                &kp SEMICOLON   &none
&none  &mt LGUI LEFT_BRACKET  &mt LEFT_ALT X     &mt LEFT_CONTROL C  &mt LEFT_SHIFT V  &mt RIGHT_ALT B    &mt RIGHT_ALT APOS  &mt RIGHT_SHIFT M  &mt RCTRL COMMA  &mt LEFT_ALT PERIOD  &mt LGUI SLASH  &none
                                                 &kp DELETE          &lt 1 TAB         &kp SPACE          &kp BACKSPACE       &lt 2 ENTER        &kp ESC
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp RA(Q)  &kp W      &kp RA(E)  &kp RA(R)  &kp T            &kp PG_UP      &kp HOME        &kp UP_ARROW    &kp END    &kp K_SCROLL_UP    &none
&none  &kp RA(A)  &kp RA(S)  &kp RA(D)  &kp RA(F)  &kp GRAVE        &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &kp K_SCROLL_DOWN  &none
&none  &kp Z      &trans     &trans     &trans     &kp BACKSLASH    &kp CAPSLOCK   &trans          &trans          &trans     &kp PRINTSCREEN    &none
                             &trans     &trans     &trans           &trans         &trans          &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp NUMBER_1  &kp RA(NUMBER_2)  &kp RA(NUMBER_3)  &kp NUMBER_4      &kp NUMBER_5        &kp NUMBER_6      &kp NUMBER_7  &kp N8     &kp N9     &kp NUMBER_0  &none
&none  &kp PLUS      &kp RA(X)         &kp RA(C)         &kp RA(NUMBER_4)  &kp RA(NUMBER_5)    &kp RA(GRAVE)     &kp MINUS     &kp EQUAL  &kp RA(Z)  &kp TILDE     &none
&none  &kp NUMBER_2  &trans            &trans            &trans            &kp RA(G)           &kp RA(NUMBER_1)  &trans        &trans     &trans     &kp NUMBER_3  &none
                                       &trans            &trans            &trans              &trans            &trans        &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &kp F1            &kp F2            &kp F3            &kp F4            &kp F5              &kp F6            &kp F7            &kp F8            &kp F9      &kp F10           &none
&none  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)    &kp LS(NUMBER_6)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(N9)  &kp LS(NUMBER_0)  &none
&none  &kp F11           &trans            &trans            &trans            &kp G               &kp V             &trans            &trans            &trans      &kp F12           &none
                                           &trans            &lt 1 TAB         &trans              &trans            &trans            &trans
            >;
        };
    };
};
